:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title__dark-color: #f212121;
  --title__light-color: #ffffff;
  --btn__dark-color: #2196f3;
  --btn__light-color: #ffffff;
  --text__dark-color: #757575;
  --text__light-color: #ffffff;
  --accent__color: #2196f3;
}
body {
  font-family: var(--main-font);
  font-size: 14x;
  color: var(--text__dark-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logotip{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logotip__text{
  color: var(--accent__color);
}
.nav,
.nav__contact{
  /* font-family:var(--main-font); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* color: var(--title__light-color); */
}
.nav:hover, 
.nav:focus,
.nav__contact:hover,
.nav__contact:focus
{
  color: var(--accent__color);
}