@charset "UTF-8";
body {
  background-color: #ffffff;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title--dark-color: #212121;
  --title--light-color: #ffffff;
  --btn--dark-color: #2196f3;
  --btn--light-color: #ffffff;
  --text--dark-color: #757575;
  --text--light-color: #ffffff;
  --accent--color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text--dark-color);
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* шапка */
.logotip {
  font-family: var(--secondary-fonty);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logotip--text {
  color: var(--accent--color);
}

/* Панель навигации */
.nav,
.nav--contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title--dark-color);
}
.nav--contact {
  color: var(--text--dark-color);
}

.nav:hover,
.nav:focus,
.nav--contact:hover,
.nav--contact:focus {
  color: var(--accent--color);
}

/* Hero */
.title--h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--title--light-color);
  background-color: grey;
}

.button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;

  color: var(--btn--light-color);
  background: var(--btn--dark-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  width: 200px;
  height: 50px;
}

/* Приимущества */
.about--img,
.work--img
.about--img,
.work--img {
  background-color: #F5F4FA;
}

.about--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  
}

.about--text,
.address,
.footer--text {
  line-height: 1.71px;
}

/* Разработки */
.title--h2{
  font-weight: 700;
font-size: 36px;
line-height: 1.16px;

text-align: center;

color: var(--title--dark-color);
}
.work--title{
  font-weight: 700;
  line-height: 1.14px;
  text-align: center;

  color: var(--title--light-color);
  background-color: grey;

  padding: 20px;
}

/* Команда разработчиков */
.command--title,
.command--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title--dark-color);
}

.command--text {
  font-weight: 400;
  color: var(--text--dark-color);
}

/* Портфолио - шапка*/
.button--list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63px;

  width: 101px;
  height: 26px;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.button--list:hover,
.button--list:focus {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--btn--light-color);
  background-color: var(--btn--dark-color);
}

/* Портфолио -Каталог Работ */
.work--catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title--dark-color);
}

.work--catalog-text {
  font-size: 16px;
  line-height: 1.88px;
  color: var(--text--dark-color);
}

.work--catalog-textstyle:hover,
.work--catalog-textstyle:focus {
  color: var(--text--light-color);
  background-color: var(--accent--color);
}

.work--catalog-link:hover {
  color: var(--text--light-color);
  background-color: var(--accent--color);
}

/* Координаты и обратная связь */
.address {
  color: var(--text--light-color);
  background-color: gray;
}

.footer--text {
  font-weight: 700;
  color: var(--title--light-color);
  background-color: rgb(47, 85, 255);
}

.footer--buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

 color: var(--title--light-color);
}
.footer--buttom:hover {
  background-color: var(--btn--dark-color);
}
.footer--email {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25px;
 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: aqua;
}
